mat-card {
    margin-top: 20px;
    text-align: center;
}

::ng-deep  mat-card-title {
    text-align: center;
}

::ng-deep .myPanelClass {
    margin-top: 27px !important;
    margin-left: 16px !important;
}

::ng-deep .mat-select-panel {
    min-width: calc(90% + 10px) !important;
}