mat-card {
    margin-top: 20px;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.example-header-image {
    background-image: url('https://online.seterra.com/images/system/asia-borders.png');
    background-size: cover;
  }